//Fallbacks
@require 'normalize.styl'
/* apply a natural box layout model to all elements */
*
*:before
*:after
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
//Defintions
white()
  rgb(210,208,210)
pink()
  rgb(249,225,206)
fuchsia()
  rgb(215,116,164)
red()
  rgb(211,78,106)
auburn()
  rgb(197,64,70)


fontsize($sizevalue = 2)
  font-size $sizevalue * 16 px
  font-size $sizevalue * 1 rem
//More resets
ul
nav
  padding 0
  margin 0
  li
    list-style-type none
a
  text-decoration none
  outline none

body
  font-family 'ocr-a-std', "Courier New", Courier, monospace
  font-weight 300
  height 100%
  color brown()
  background-color white
header
  width 100%
  text-transform uppercase
  text-align center
  color white
  background-color auburn()
  padding 2em 0
  vertical-align middle
h1
  font-weight 300
  fontsize(2)
  display inline-block
nav
  width 25%
  float left
  font-weight 300
  fontsize(1)
  a
  a:hover
   text-decoration line-through
ul
  ul
    margin-left 1em
    fontsize(0.75)
.update
  visibility hidden
#container
  width 100%
  height auto
  position absolute
  z-index 900
#map-all
  position relative
  width 1200px
  height 800px
  margin 0 auto
.button
.ng-valid
.update
  visibility hidden
h2
h3
  text-align center
.words
  img
   width 100%
.controls
  width 100%
  height 8em
  background-color white
  border none
.left-arrow
  position absolute
  left 0
.right-arrow
  width 50%
  left 0
.words > div
  height 2em
  color white
.play
  float left
  width 100%
  height 2em
  background-color red
  visibility visible !important 
@media (max-width: 64em)
  header
    padding 1em
  .view
    width 80%
    margin 0 auto
