//Fallbacks
@require 'normalize.styl'
/* apply a natural box layout model to all elements */
*
*:before
*:after
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  //Defintions

body-color()
  background linear-gradient(45deg, rgb(255,253,243) 0%, rgb(255,250,222) 100%)
type-color()
  rgb(12,12,12)

fontsize($sizevalue = 2)
  font-size $sizevalue * 16 px
  font-size $sizevalue * 1 rem
//More resets
ul
nav
  padding 0
  margin 0
  li
    list-style-type none
a
  text-decoration none
  outline none

body
  font-family 'ocr-a-std', "Courier New", Courier, monospace
  font-weight 300
  height 100%
  color type-color()
  body-color()
header
  width 100%
  text-transform uppercase
  text-align center
  background-color white
  padding 2em 0
  vertical-align middle
  border-bottom solid 1px rgb(255,250,222)
h1
  font-weight 300
  fontsize(2)
  display inline-block
nav
  width 25%
  float left
  font-weight 300
  fontsize(1)
  a
  a:hover
   text-decoration line-through
ul
  ul
    margin-left 1em
    fontsize(0.75)
.update
  visibility hidden
#container
  width 100%
  height auto
  position absolute
  z-index 900


.button
.ng-valid
.update
  visibility hidden

@media (max-width: 64em)
  header
    padding 1em
  .view
    width 80%
    margin 0 auto
